*.dat
*.iml
*.log
*.out
*.pid
*.seed
*.sublime-*
*.swo
*.swp
.dockerignore
.DS_Store
.bowerrc
.editorconfig
.git
.gitattributes
.gitignore
.idea
.jshintignore
.jshintrc
.travis.yml
.project
.tmp
.vscode
Dockerfile
coverage
node_modules
npm-debug.log
nodemon.json
README.md
